<!DOCTYPE html>
<html>
<head>
<!-- load the Google Maps API -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<!-- set map priorities -->
<script>
// create a function to initialize the map
function initialize() {

//create a variable to hold the position for markers
//	var myLatLng = {lat: 40.58938, lng: -74.950828};


// create an object (mapprop) to define map properties 
  var mapProp = {
    center:new google.maps.LatLng(40.2627, -74.7983),
    zoom:9,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
 // create a map object to put inside div 
  var map=new google.maps.Map(document.getElementById("map"),mapProp);

var marker = new google.maps.Marker({
  position: {lat: 40.58938, lng: -74.950828},
  map: map
  });

var marker = new google.maps.Marker({
  position: {lat: 40.509865, lng: -74.85489},
  map: map
  });

var marker = new google.maps.Marker({
  position: {lat: 40.290482, lng: -74.748971},
  map: map
  });





}
// add event listener to load the map (initialize) when page is loaded
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<!-- create a map container -->	
<div id="map" style="width:500px;height:380px;"></div>
</body>

</html>