nav{
	padding: 0px;
}

body{
 color: #000066;
 text-shadow: 100px;    
}
h1{
	font-family: sans serif;
	font-size: 64px;
}
.glyphicon{
	padding-top: 8px;
	font-size: 2em;
	color: #335CD6;
}

.myPanel {
border: 1px solid #687D6D;
border-radius: 5px;
box-shadow: 10px 10px 0px black;
margin: 3%;

}
// #home{
// 	background-image: url("assets/home.png")
// }
// #map{
// 	background-image: url("assets/map.png")
// }

// // nav{
// 	padding:16px;
// 	text-align: center;
// }

// nav a{
// 	text-indent: -9999px;
// 	display: inline-block;
// 	width: 64px;
// 	height: 64px;
// 	margin: 0 8px;